<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myapp">

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Apptheme">
        <activity android:name=".activity.RxjavaActivity"></activity>
        <activity android:name=".activity.FlexboxActivity" />
        <activity android:name=".activity.WhiteListActivity" />
        <activity android:name=".activity.MediaPlayerActivity" />
        <activity android:name=".activity.SocketActivity" />
        <activity android:name=".activity.TestVpnActivity" />
        <activity android:name=".activity.TraceActivity" />
        <activity android:name=".activity.FragmentSwitchActivity" />
        <activity android:name=".activity.Bluetooth2Activity" />
        <activity android:name=".activity.FileCheckActivity" />
        <activity android:name=".vpn.ToyVpnClient" />
        <activity android:name=".activity.NetStateActivity" />
        <activity android:name=".activity.MiePingActivity" />
        <activity android:name=".activity.BluetoothActivity" />
        <activity android:name=".activity.WebActivity" />
        <activity android:name=".activity.NdkActivity" />
        <activity android:name=".activity.ThreadActivity" />
        <activity android:name=".activity.TrafficStatsActivity" />
        <activity
            android:name=".activity.BgActivity"
            android:process=":remote"
            android:theme="@style/ActivityTheme" />
        <activity android:name=".activity.AndroidHookActivity" />
        <activity android:name=".activity.JniActivity" />
        <activity android:name=".activity.TestFragmentActivity" />
        <activity android:name=".activity.NewWordActivity" />
        <activity android:name=".activity.RoomActivity" />
        <activity android:name=".activity.fragment.FragmentActivity" />
        <activity
            android:name=".activity.AccessibilityOpenHelperActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:process=":BackgroundService"
            android:taskAffinity="com.open.helper"
            android:theme="@style/Accessibility.Transparent.Activity" />
        <activity android:name=".activity.AccessibilityServiceActivity" />
        <activity android:name=".mvc_mvp_mvvm.mvvm.MvvmActivity" />
        <activity android:name=".mvc_mvp_mvvm.mvp.MvpActivity" />
        <activity android:name=".mvc_mvp_mvvm.ordinary.OrdinaryActivity" />
        <activity android:name=".mvc_mvp_mvvm.mvc.MVCActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/ActivityTheme"
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DataBinding_Glide_Activity" />
        <activity android:name=".activity.RefreshLayoutActivity" />
        <activity android:name=".activity.FlexboxlayoutActivity" />
        <activity android:name=".activity.ConstrationActivity" />
        <activity android:name=".activity.PopupWendowActivity" />
        <activity android:name=".activity.Scrollto_ScrollbyActivity" />
        <activity android:name=".activity.CoordinatorActivity" />
        <activity android:name=".activity.SpinnerActivity" />
        <activity android:name=".activity.MyFragmentActivity" />
        <activity android:name=".activity.SweetActivity" />
        <activity android:name=".activity.ZhuanHuanActivity" />
        <activity android:name=".activity.FingerActivity" />
        <activity android:name=".activity.RecyclerNestingRecyclerActivity" />
        <activity android:name=".activity.MultipleTypesRecycleActivity" />
        <activity android:name=".activity.TouchEventActivity" />
        <activity android:name=".activity.EditActivity" />
        <activity android:name=".activity.DateTimePickerActivity" />
        <activity android:name=".activity.WebSocketActivity" />
        <activity android:name=".activity.FloatingWindowActivity" />
        <activity android:name=".activity.ZxingScanActivity" />
        <activity android:name=".activity.JsonActivity" />
        <activity android:name=".activity.RSAActivity" />
        <activity android:name=".activity.DelayedUIActivity" />
        <activity android:name=".activity.JetpackActivity" />

        <receiver android:name=".receiver.KeepAliveReceiver"
            android:permission="com.eestorm.cefsdk.receiver"
            >
            <intent-filter>
                <action android:name="aa.bb.cc"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".vpn.ToyVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MyVpnService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.AccessibilitySampleService"
            android:exported="true"
            android:label="辅助lihaipeng"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":BackgroundService">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <!-- 通过xml文件完成辅助功能相关配置，也可以在onServiceConnected中动态配置 -->
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>
    </application> <!-- Needed for in-app purchase -->
    <!-- <uses-permission android:name="com.android.vending.BILLING"/> -->
    <!-- Needed for overlay widget and floating notifications -->
    <meta-data
        android:name="firebase_messaging_auto_init_enabled"
        android:value="false" /> <!-- Needed for kill application yourself -->
    <meta-data
        android:name="firebase_analytics_collection_enabled"
        android:value="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission
        android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <queries>
        <package android:name="com.nrivi.baidu.maps" />

        <!-- 也可以单独指定provider -->
<!--                <provider android:authorities="com.rivi.baidu.maps.MultiProcess"-->
<!--                    android:exported="true" />-->
    </queries>
</manifest>
